<header>
  <img
    src="assets/img/foto.jpg"
    alt="Rodrigo Watanabe - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager" 
  />
  <h1>Rodrigo Watanabe</h1>  
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Santos, São Paulo, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de 10 anos. Devido isso
      resolvi abraçar a stack JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="https://fatecrl.edu.br/" target="_blank" class="btn btn-primary">
            Formação
          </a>    
        </li>

        <li>
          <a
            href="https://github.com/Rwata56"
            target="_blank"
            class="btn btn-secondary"
          >
            Github
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5513991481468 &text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank" 
          >
            <strong>Envie uma menssagem para:</strong>
            <p> 
              WhatsApp: (13) 991481568  
            </p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:rodwatague@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>rodwatague&#64;gmail</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
